<!--取得したユーザー情報一覧を表示する-->
<h2><%= usertitle %></h2>
<% if @users.exists? %>
  <table class="table table-hover">
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag(user, :icon_image, :fill, 50, 50, fallback: "no_image.jpg",size: '50x50') %></td>
          <td>
            <%= link_to user_path(user), class: "user_#{user.id}"  do %>
              <%= user.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<table class="table">
  <tbody>
    <tr>
      <td>
        情報が存在しません
      </td>
    </tr>
  </tbody>
</table>
<% end %>
