  <div class="row">
    <div class="main-visual">
      <div class="main-visual-content" >
        <p class="text-white">
          <strong>TRPGにはまろう！</strong>とは……
        </p>
        <p class="text-white" >
          TRPGシナリオを投稿したい！
          TRPGシナリオを探したい！
          という方のためのサイトです
        </p>
      </div>
      
      <div class="container">
        <div class="row">
        <table>
          <thead>
            <tr>
              <th colspan="3" class="main-heading">
                <p>新着シナリオ</p> 
              </th>
              <th></th>
              <th></th>
            </tr>
          </thead>
            <%= render 'scenarios/index', scenarios: @scenarios %>
        </table>
        </div>
      </div>
    </div>
  </div>


