    <!-- main-visual用のdiv -->
    <div class="main-visual">
      <div class="main-visual-content">
        <!-- pタグ（と文字）を追加 -->
        <p class="main-visual-text">
          TRPGにはまろう！とは……
        </p>
        <p class="main-visual-name">
          TRPGシナリオを投稿したい！
          TRPGシナリオを探したい！
          という方のためのサイトです
        </p>
      </div>
    </div>
    <main>
      
    </main>