<%= render 'subheader' %>

<table>
  <thead>
    <tr>
      <th>
        検索結果一覧</br>
        検索ワード：<%= @scenarios.count %>件</br>
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <%= render 'index', scenarios: @scenarios %>
</table>
