

<div class='container px-5 px-sm-0 mt-5'>
  <div class='row'>
    <div class='col-md-5 col-lg-4'>
        <%= render 'subheader' %>
    </div>
    <div class='col-md-7 col-lg-8'>
      <h3>検索結果一覧</h3>
      <p>検索ワード：<%= @scenarios.count %>件</p>
      <%= render 'index', scenarios: @scenarios %>
    </div>
  </div>
</div>

