// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table-colored  {
  background-color: #e7e7eb;
}

.form-control-searches{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.bbd {
    border-bottom: 1px solid #DCDCDC;
    padding-top: 10px;
    margin-bottom: 20px;
}