// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bbd4 {
    border-bottom: 1px solid #DCDCDC;
    padding-top: 10px;
    margin-bottom: 20px;
}