<% if model.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h4><%= pluralize(model.errors.count, "件") %> の入力エラーが発生</h4>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>